.table {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  background-color: red;
}

.square {
  width: 70px;
  height: 70px;
  background-color: yellowgreen;
  border: solid white 1px;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.5rem;
  cursor: pointer;
}

.winnerTextWrapper {
  height: 2.5rem;
  .winnerText {
    background-color: lightcoral;
    width: fit-content;
    padding: 0.3rem 0.5rem;
    color: white;
  }
}

.gameWrapper {
  display: flex;
  gap: 2rem;
  height: 270px;
}

.buttonGameMovement {
  padding: 0.2rem;
  margin-bottom: 0.1rem;
}
