*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  height: 100%;
  padding: var(--mainPadding);
}

.header-global,
.footer-global {
  background-color: var(--secondaryColor);
  padding: var(--mainPadding);
}

.single-block {
  background-color: var(--secondaryColor);
  width: 100%;
  padding: 0.2rem;
  margin: 0 0 0.5rem 0;
  @media (min-width: 768px) {
    width: 80vw;
  }
  @media (min-width: 1024px) {
    width: 60vw;
  }
}

.counter-button {
  width: 1.5rem;
  height: 1.5rem;
}
